# Untracked files
documentation/document_absolutePaths_for_pdf.md

# ignore log files
*.log
__pycache__


# ignore csv files 
*.csv

# ignore jupyter checkpoint files
**/.ipynb_checkpoints

# ignore db connection file
DataWarehouse/authenticate.py

# model files 
**/model


# wsgi script
**.wsgi

*.pkl

*.pyc

