{% extends 'layout.html' %}

{% block title %}Disclosure{% endblock %}

{% block styles %}
{{super()}}
        <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='index.css')}}">
{% endblock %}

{% block body %}
        {{super()}}
	<div id="banner">
        	<div class="container">
			<!--If we have more visualizations then I will make a template for this page.-->
			<p>Visualizations by month:</p>
			<ol>
				<li><a href="/visuals/jan">January</a></li>
				<li><a href="/visuals/feb">February</a></li>
				<li><a href="/visuals/mar">March</a></li>
				<li><a href="/visuals/apr">April</a></li>
				<li><a href="/visuals/may">May</a></li>
				<li><a href="/visuals/jun">June</a></li>
				<li><a href="/visuals/jul">July</a></li>
				<li><a href="/visuals/aug">August</a></li>
				<li><a href="/visuals/sep">September</a></li>
				<li><a href="/visuals/oct">October</a></li>
				<li><a href="/visuals/nov">November</a></li>
				<li><a href="/visuals/dec">December (coming soon)</a></li>
			</ol>
		</div>
	</div>
{% endblock %}
