#disclosure_form_label
{
	background-color: orange;
}

#textarea_div{
	text-align: center;
	width: 100%;
	height: 500px;
}

#disclosure_form_textarea
{
	background-color: white;
	margin: auto;
	height: 70%;
	width: 75%;
	text-align: left;
	padding: 2.5px;
}

p 
{
	font-size: 40px;
}

.container
{
	margin: auto;
	align-items: center;
	background-color: transparent;
}

div#banner
{
	height: 100vh;
}

#image_div{
	margin: 0 auto;
	width: 800px;
}

#_image
{
	margin: auto;
	display: inline-block;
	padding: 10px;
}

.sentiment_image
{
	height: 35%;
	width: 35%;
	padding: 20px;
}

