#disclosure_form_label
{
	background-color: orange;
}

#textarea_div{
	text-align: center;
	width: 100%;
	height: 500px;
}

#disclosure_form_textarea
{
	background-color: white;
	margin: auto;
	height: 70%;
	width: 75%;
	text-align: left;
	padding: 2.5px;
}

p 
{
	font-size: 40px;
}

.container
{
	margin: auto;
	align-items: center;
	background-color: transparent;
}

div#banner
{
	height: 100%;
}
