#disclosure_form_label
{
	background-color: orange;
}

#textarea_div{
	text-align: center;
	width: 100%;
	height: 500px;
}

#disclosure_form_textarea
{
	background-color: green;
	margin: auto;
	height: 50%;
	width: 50%;
	text-align: left;
	padding: 2.5px;
}
